<html>
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Welcome</h1>
<div>
    <ol>
        <li><h2><a href="/brokenAuth">Broken Authentication</a></h2></li>
        <li><h2><a href="/xss">Cross-site scripting (XSS)</a></h2></li>
        <li><h2><a href="/brokenAuth">Cross Site Request Forgery, CSRF</a></h2></li>
    </ol>
</div>
</body>
</html>