<html>
<head>
    <title>Private</title>
</head>
<body>
<div>
    <h1><a href="/">Home</a></h1>
</div>
<div>
    <h2><a href="/brokenAuth">Back to broken Authentication</a></h2>
</div>
<% if(user !== null){ %>
<h2>Name: <%= user.name%></h2>
<h2>Email: <%= user.email%></h2>
<h2>Date: <%= user.date%></h2>
<% }else{ %>
<h2>Wrong email or password</h2>
<% }%>
</body>
</html>